# 更新lxk0301大佬的js脚本和EvineDeng的shell脚本，日志为log/git_pull.log
55 5-23 * * * bash git_pull >> ${JD_DIR}/log/git_pull.log 2>&1

# 删除 RmLogDaysAgo 指定天数以前的旧日志，本行为不记录日志
57 13 * * * bash rm_log >/dev/null 2>&1

# 重启挂机脚本，挂机脚本可以随容器启动而启动，建议需要重启挂机程序时直接重启容器，如实在不想通过重启容器而重启挂机程序，可以解除下一行注释
# 33 13 * * * bash jd hangup

